/*header*/

.header{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo{
    height: 30.57px;
    vertical-align: middle;
}

.nav{
    display: inline-block;
    vertical-align: middle;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.home{
    font-size: 22px;
    margin-left: 50px;
    color: #3D58A6;
    display: inline-block;
}

.siaxleebi{
    color: #EE4036;
}

.news{
    font-size: 22px;
    list-style: none;
    margin-left: 22px;
    display: inline-block;
}

.contact{
    font-size: 22px;
    color: #3D58A6;
    list-style: none;
    margin-left: 39px;
    display: inline-block;
}

/*header-end*/



/*section*/

.date-div{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    margin-left: 30px;
}

.date-div-2{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    margin-left: 30px;
    margin-top: 39px;
}

.date-div-3{
    width: 56px;
    height: 56px;
    background-color: #3D58A6;
    margin-left: 30px;
    margin-top: 42px;
}

.date{
    color: #FFFFFF;
    font-size: 48px;
    padding: 3px 3px;
    font-family: "BPG Rioni Vera", sans-serif;
}

.month{
    color: #3D58A6;
    font-size: 22px;
    margin-left: 30px;
    margin-top: 2.65px;
    font-family: "BPG Glaho Traditional", sans-serif;
}

.title{
    font-size: 20px;
    margin-top: 18.48px;
    margin-left: 30px;
    margin-bottom: 16.52px;
    font-family: "DejaVu Sans Condensed", sans-serif;
}

.image{
    height: 210px;
    margin-left: 30px;
    margin-right: 39px;
    display: inline-block;
    vertical-align: top;
}

.text-wrapper{
    width: 929px;
    display: inline-block;
    vertical-align: top;
}

.text{
    font-size: 16px;
    margin-bottom: 19.2px;
    font-family: "DejaVu Sans Condensed", sans-serif;
}

.text-2{
    font-size: 16px;
    margin-bottom: 19.2px;
    font-family: "BPG LE Studio 02 Caps", sans-serif;
}

/*section-end*/



/*footer*/

.footer{
    margin-top: 32px;
    margin-left: 34px;
    margin-bottom: 32px;
}

.fblogo{
    height: 30px;
}

.line{
    width: 2px;
    height: 27px;
    background-color: #363E97;
    margin-left: 36px;
    display: inline-block;
}

.youtube{
    height: 30px;
    margin-left: 30px;
}

/*footer-end*/