@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo-Bold.eot');
    src: url('../fonts/LobsterTwo-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LobsterTwo-Bold.woff2') format('woff2'),
        url('../fonts/LobsterTwo-Bold.woff') format('woff'),
        url('../fonts/LobsterTwo-Bold.ttf') format('truetype'),
        url('../fonts/LobsterTwo-Bold.svg#LobsterTwo-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

